body, html {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#info {
  font-family: Arial;
  align-self: center;
  font-size: 2em;
}

table {
  text-align: center;
  border-spacing: 10px;
}

.free {
  color: green;
}

.reserved {
  color: orange;
}

.occupied {
  color: red;
}
